<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_logoicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logoicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".admin.AddAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.UpdateAdminActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminListActivity"
            android:exported="false" />
        <activity
            android:name=".admin.DeliveryDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.DeliveryControlActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".admin.UpdateProductActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ProductListActivity"
            android:exported="false" />
        <activity
            android:name=".admin.ManageActivity"
            android:exported="false" />
        <activity
            android:name=".admin.StockReportActivity"
            android:exported="false" />
        <activity
            android:name=".admin.MonthlyReportActivity"
            android:exported="false" />
        <activity
            android:name=".admin.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".customer.ShowDeliveryStatusActivity"
            android:exported="false" />
        <activity
            android:name=".customer.DeliveryStatusActivity"
            android:exported="false" />
        <activity
            android:name=".customer.ReportIssueActivity"
            android:exported="false" />
        <activity
            android:name=".customer.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".customer.PaymentDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".customer.OrderHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".customer.UpdateProfileActivity"
            android:exported="false" />
        <activity
            android:name=".customer.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".customer.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".customer.CartActivity"
            android:exported="false" />
        <activity
            android:name=".customer.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".customer.ProductPageActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".customer.ShowProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".customer.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".customer.HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>